{% extends 'fragments/base.html' %}

{% block head %}
<link
    rel="stylesheet"
    href="/static/css/code-mirror-auto-height.css"
></link>
{% endblock %}

{% block body %}
<div class="col-sm-offset-1 col-sm-11">
{% block header %}
    <h2>Update</h2>
{% endblock %}
</div>

<form class="form-horizontal" id="my-form">
    <div class="form-group">
        <label
            class="control-label col-sm-1"
            for="filter"
        >Filter</label>
        <div class="col-sm-11">
            <textarea
                class="form-control"
                rows="10"
                id="filter"
                name="filter"
            >
{% block default_filter %}{
  "USE": "THIS_CAREFULLY!!!"
}{% endblock %}
            </textarea>
        </div>
    </div>
    <div class="form-group">
        <label
            class="control-label col-sm-1"
            for="update"
        >Update</label>
        <div class="col-sm-11">
            <textarea
                class="form-control"
                rows="10"
                id="update"
                name="update"
            >
{% block default_update %}{
  "$set": {
    "USE": "THIS_CAREFULLY!!!"
  }
}{% endblock %}
            </textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <button
                type="submit"
                class="btn btn-primary"
            >Submit</button>
        </div>
    </div>
</form>

{% include "fragments/request_response.html" %}

</div>
<div
  class="alert alert-success col-sm-offset-1 col-sm-11"
  role="alert"
  id="alert"
>
</div>

{% endblock %}

{% block footer  %}

<script>
var API_METHOD = "PATCH";

function formToJSON(){
    return JSON.stringify({
        "filter": $.parseJSON(
            filterCodeMirror.getValue()
        ),
        "update": $.parseJSON(
            updateCodeMirror.getValue()
        )
    });
}

var filterCodeMirror = $("#filter").codemirror(JSONEditorConfig);
var updateCodeMirror = $("#update").codemirror(JSONEditorConfig);
</script>
<script src="/static/js/on-form-submit.js"></script>

<script
    src="/static/js/json-request.js"
></script>
<script
    src="/static/js/json-response.js"
></script>

{% block footer_script %}
{% endblock %}
{% endblock %}
