{% extends 'fragments/base.html' %}

{% block head %}
<link
    rel="stylesheet"
    href="/static/css/code-mirror-auto-height.css"
></link>
{% endblock %}

{% block body %}
<div class="col-sm-offset-1 col-sm-11">
{% block header %}
    <h2>Insert</h2>
{% endblock %}
</div>
<form class="form-horizontal" id="my-form">
    <div class="form-group">
        <label
            class="control-label col-sm-1"
            for="filter"
        >Object</label>
    <div class="col-sm-11">
        <textarea
            class="form-control"
            rows="10"
            id="filter"
            name="filter"
        >
{% block default_filter %}{
}{% endblock %}
        </textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <button
        type="submit"
        class="btn btn-primary"
      >Submit</button>
    </div>
  </div>
</form>

{% include "fragments/request_response.html" %}

<div
  class="alert alert-success col-sm-offset-1 col-sm-11"
  role="alert"
  id="alert"
>
</div>

{% endblock %}

{% block footer  %}
<script>
var API_METHOD = "POST";

function formToJSON(){
    return JSON.stringify(
        $.parseJSON(
            filterCodeMirror.getValue()
        )
    );
}

var filterCodeMirror = $("#filter").codemirror(JSONEditorConfig);
</script>
<script src="/static/js/on-form-submit.js"></script>
<script
    src="/static/js/json-request.js"
></script>
<script
    src="/static/js/json-response.js"
></script>
{% block footer_script %}
{% endblock %}
{% endblock %}
