{% extends 'fragments/mongo/get.html' %}

{% block thead %}
            <th scope="col">Name (name)</th>
            <th scope="col">DateTime (dt)</th>
{% endblock %}

{% block default_sort %}[
  ["name", 1]
]{% endblock %}

{% block footer_script %}
<script src="/static/js/date.format.js"></script>
<script>
var API_ENDPOINT = '/api/v1/things';

function rowToMarkup(row){
    return "<tr><td>" + row.name +
        "</td><td>" + new Date(row.dt * 1000).toString() +
        "</td></tr>";
}

$(document).ready(function(){
    paramsToForm();
    onSearch(API_ENDPOINT, 'GET', formToParams());
});
</script>
{% endblock %}
