{% extends 'fragments/base.html' %}
{% block body %}
<h2> /api/v1/things </h2>
<ul class="list-group">
    <li class="list-group-item">
        <a href="/things/post.html">POST (Add a Thing)</a>
    </li>
    <li class="list-group-item">
        <a href="/things/get.html">GET (View Things)</a>
    </li>
    <li class="list-group-item">
        <a href="/things/delete.html">DELETE (Delete a Thing)</a>
    </li>
    <li class="list-group-item">
        <a href="/things/patch.html">PATCH (Update a Thing)</a>
    </li>
    <li class="list-group-item">
        <a href="/things/put.html">PUT (Upsert a Thing)</a>
    </li>
</ul>
{% endblock %}
